.app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.app__content {
  flex: 1;

  display: flex;
  min-height: 0;
}

.app__main {
  flex: 1;
  min-width: 0;

  padding: var(--spacing-large);

  overflow: auto;
}